<!DOCTYPE html>
<html lang="en">

<%- include('../includes/header') -%>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
       
        <!-- Sidebar -->
        <%- include('../includes/sidebarAdmin') -%>
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                     <!-- Sidebar Toggle (Topbar) -->
                     <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle"  id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"   data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" >  </i>
                                    Cerrar sesion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mb-4">Lista de campesinos registrados</h1>
                    <div class="alert alert-danger d-none" role="alert" id="notificacion"></div>

                    <div class="d-flex justify-content-between mb-3">
                        <div></div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#crearCampesinoModal" id="btnNuevoCampesino">
                            <i class="bi bi-plus-circle"></i> Nuevo Campesino
                        </button>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Campesinos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Email</th>
                                            <th>Celular</th>
                                            <th>Mercadillo</th>
                                            <th>Puesto</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Email</th>
                                            <th>Celular</th>
                                            <th>Mercadillo</th>
                                            <th>Puesto</th>
                                            <th>Acción</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% campesino.forEach((campesinos) => { %>
                                            <tr data-id-mercadillo="<%= campesinos.Id_Mercadillo || '' %>">
                                                <td><%= campesinos.Id %></td>
                                                <td><span class="nombre"><%= campesinos.Nombres %></span></td>
                                                <td><span class="apellidos"><%= campesinos.Apellidos %></span></td>
                                                <td><span class="email"><%= campesinos.Email %></span></td>
                                                <td><span class="celular"><%= campesinos.Celular %></span></td>
                                                <td><span class="mercadillo"><%= campesinos.nombreMercadillo %></span></td>
                                                <td><span class="puesto"><%= campesinos.Puesto %></span></td>
                                                <td>
                                                    <a href="#" class="btn btn-outline-danger btn-sm btn-eliminar-usuario" data-id="<%= campesinos.Id %>" data-toggle="modal" data-target="#eliminarModal" role="button">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-outline-primary btn-sm btn-actualizar-usuario ml-1" data-id="<%= campesinos.Id %>" data-toggle="modal" data-target="#actualizarModal" role="button">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-<%= campesinos.Estado ? 'warning' : 'success' %> btn-sm btn-toggle-estado" data-id="<%= campesinos.Id %>" data-estado="<%= campesinos.Estado ? 'activo' : 'inactivo' %>">
                                                        <%= campesinos.Estado ? 'Desactivar' : 'Activar' %>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('../includes/footer') -%>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"> </i>
    </a>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de eliminar este campesino?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" id="btnConfirmarEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Crear Campesino -->
    <div class="modal fade" id="crearCampesinoModal" tabindex="-1" role="dialog" aria-labelledby="crearCampesinoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="alert alert-danger d-none" role="alert" id="notificacion"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearCampesinoModalLabel">Nuevo Campesino</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formCrearCampesino">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombresNuevo">Nombres</label>
                                <input type="text" class="form-control" id="nombresNuevo" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellidosNuevo">Apellidos</label>
                                <input type="text" class="form-control" id="apellidosNuevo" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="emailNuevo">Email</label>
                                <input type="email" class="form-control" id="emailNuevo" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="celularNuevo">Celular</label>
                                <input type="text" class="form-control" id="celularNuevo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mercadilloNuevo">Mercadillo</label>
                            <select class="form-control" id="mercadilloNuevo" required>
                                <option value="">Seleccione un mercadillo</option>
                                <!-- Las opciones se llenarán con JavaScript -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="puestoMercadillo">Puesto</label>
                            <input id="puestoNuevo" class="form-control" type="number"></input>
                        </div>
                        <div class="form-group">
                            <label for="passwordNuevo">Contraseña</label>
                            <input type="password" class="form-control" id="passwordNuevo" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarCampesino">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Actualizar -->
    <%- include('../includes/modalActualizarCampesino') -%>

    <!-- Logout Modal-->
    <%- include('../includes/logoutModal') -%>

    <!-- Bootstrap core JavaScript-->
    <%- include('../includes/scripts') -%>
    
</body>
<script src="/js/admin/campesinoAdmin.js" type="module"></script>
</html>